---
import { Image } from "astro:assets";
import aguxpress from "@images/landing/aguxpress.png";
const projects: {
	title: string;
	desc: string;
	url: string;
	img: ImageMetadata;
}[] = [
	{
		title: "AguXpress",
		desc: "We revamped the official AguXpress Website for their customers, in addition to other features we added.",
		url: "https://www.aguxpress.com",
		img: aguxpress,
	},
	{
		title: "Lemon Fresh",
		desc: "We revamped the official AguXpress Website for their customers, in addition to other features we added.",
		url: "https://www.aguxpress.com",
		img: aguxpress,
	},
	{
		title: "Lemon Fresh",
		desc: "We revamped the official AguXpress Website for their customers, in addition to other features we added.",
		url: "https://www.aguxpress.com",
		img: aguxpress,
	},
];
---

<section class='bg-brand-primary-01 sect' id='projects'>
	<div class='sect-content text-center'>
		<div>
			<h2 class='heading-1 text-brand-primary-07'>Portfolio</h2>
			<p class='subtitle mt-3'>
				Here are some projects we have worked on so far
			</p>
		</div>
		<ul
			class='grid sm:grid-cols-2 xl:grid-cols-4 gap-8 md:gap-12 text-start'
		>
			{
				projects.map(({ title, desc, img, url }) => (
					<li class='bg-brand-bright shadow-card hover:shadow-hover hover:bg-brand-primary-02 cursor-pointer transition duration-300 group first-span'>
						<div class='relative'>
							<Image
								src={img}
								alt={`Screenshot of ${title} project`}
							/>
							<div class='bg-brand-secondary absolute inset-0 bg-brand-secondary-03/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300'>
								<a class='btn-primary shadow-none' href={url}>
									Visit Project
								</a>
							</div>
						</div>
						<div class='p-5 md:p-9'>
							<span class='block mb-2.5 subtitle'>{title}</span>
							<span class='block'>{desc}</span>
						</div>
					</li>
				))
			}
		</ul>
	</div>
</section>

<style>
	@reference "../styles/global.css";

	.first-span:first-child {
		@apply sm:col-span-2 md:col-span-1 xl:col-span-2;
	}
</style>
