---
import { Image } from "astro:assets";
import Forward from "@images/landing/forward.svg";
import photo from "@images/landing/pfp.jpg";

const testimonials: {
	name: string;
	position: string;
	company: string;
	company_url: string;
	review: string;
	pfp: ImageMetadata;
}[] = [
	{
		name: "Tope Azeez",
		position: "Manager",
		company: "Lemon Fresh Services",
		company_url: "#",
		review: "I always recommend sudoke for any of your software needs. They simply do it best. Without them our company will not be where we are today.",
		pfp: photo,
	},
	{
		name: "Tope Azeez",
		position: "Manager",
		company: "Lemon Fresh Services",
		company_url: "#",
		review: "I always recommend sudoke for any of your software needs. They simply do it best. Without them our company will not be where we are today.",
		pfp: photo,
	},
	{
		name: "Tope Azeez",
		position: "Manager",
		company: "Lemon Fresh Services",
		company_url: "#",
		review: "I always recommend sudoke for any of your software needs. They simply do it best. Without them our company will not be where we are today.",
		pfp: photo,
	},
	{
		name: "Tope Azeez",
		position: "Manager",
		company: "Lemon Fresh Services",
		company_url: "#",
		review: "I always recommend sudoke for any of your software needs. They simply do it best. Without them our company will not be where we are today.",
		pfp: photo,
	},
];
---

<section class='bg-brand-primary-01 sect' id='testimonials'>
	<div class='sect-content text-center relative'>
		<div class=''>
			<h2 class='heading-1 text-brand-primary-07'>Testimonials</h2>
			<p class='subtitle mt-3'>
				What our clients are saying about our services
			</p>
		</div>
		<ul class='text-start carousel pb-18'>
			{
				testimonials.map(
					({ company, company_url, name, pfp, position, review }) => (
						<li class='bg-brand-bright basis-17/20 max-w-80 md:max-w-none md:basis-98 shrink-0 snap-center shadow-card'>
							<div class='bg-brand-neutral-02 p-4 md:p-6 flex gap-4 md:gap-6'>
								<span class='block size-20'>
									<Image
										src={pfp}
										alt={`Profile Photo of ${name}`}
									/>
								</span>
								<span>
									<span class='subtitle block'>{name}</span>
									<span class='block'>{position}</span>
									<span class='block'>
										<a href={company_url}>{company}</a>
									</span>
								</span>
							</div>
							<div class='p-4 md:p-6'>{review}</div>
						</li>
					),
				)
			}
		</ul>
		<!-- <div class='mt-6 flex gap-6 justify-center'>
			<button class='btn-primary px-2.5'
				><Forward class='h-auto w-7 -scale-x-100' /></button
			><button class='btn-primary px-2.5'
				><Forward class='h-auto w-7' /></button
			>
		</div> -->
	</div>
</section>

<style>
	@reference "../styles/global.css";

	.carousel {
		anchor-name: --carousel-anchor;
		@apply flex gap-4 md:gap-12 overflow-x-scroll scrollbar-none snap-x snap-mandatory scroll-smooth relative w-dvw sm:w-auto right-3 sm:right-0 px-3 sm:px-0;

		&::scroll-button(*) {
			@apply absolute btn bg-brand-primary shadow-panel p-2.5 size-12;

			position-anchor: --carousel-anchor;
			bottom: anchor(bottom);
			justify-self: anchor-center;
		}

		&::scroll-button(*):hover {
			@apply shadow-hover bg-brand-primary-05;
		}

		&::scroll-button(*):active {
			@apply bg-brand-primary-06;
		}

		&::scroll-button(*):disabled {
			@apply bg-brand-neutral-02 shadow-none;
		}

		&::scroll-button(left),
		&::scroll-button(right) {
			content: "";
			background-image: url("@images/landing/forward.svg");
			background-position: center;
			background-repeat: no-repeat;
			@apply bg-size-[--spacing(7)];
		}

		&::scroll-button(left) {
			@apply -translate-x-9 -scale-100;
		}

		&::scroll-button(right) {
			@apply translate-x-9;
		}
	}
</style>
